.signContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.inputs input {
    height: 42px;
    color: rgba(44, 62, 80, 0.8);
    background-color: #fff;
    border: 1px solid #3bc45b;
    width: 100%;
    padding: 6px 12px;
    line-height: 1px;
    font-size: 14px;
    margin-top: 10px;
    border-radius: 4px;
}

.inputs input:focus {
    border-color: none;
    box-shadow: 0 1px 1px #4bdb6d69 inset, 0 0 8px #4bdd6d;
    outline: 0 none;
}

.titleHouses {
    text-align: center;
    margin-top: 2vh;
    color: #fff;
    width: 50%;
    border-radius: 50px;
    background-color: rgba(73, 146, 0, 0.801);
    padding: 3px;
}

.send {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    margin: 10px 0;
    border-radius: 4px;
}

.send:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.send span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.send span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.send:hover span {
    padding-right: 25px;
}

.send:hover span:after {
    opacity: 1;
    right: 0;
}

.or {
    color: #fff;
}

.cardInputs-signUp {
    border: 1px solid #000;
    min-height: 100%;
    width: 40vw; 
    background: rgba(0,0,0,0.2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1vh;
}

.back-signUp {
    width: 100%;
    height: 100% ;
    background-size: cover;
    background-position: center;
    padding: 4vh 0 4vh 2vw;
}