.button-Faq {
    margin-bottom: 1rem;
    border: 1px white!important;
    outline: none!important;
    appearance: none!important;
    background: none!important;
    color: #000;
    border-style: none!important;
    box-shadow: none!important;
    display: flex;
}

.button-Faq:hover, .button-Faq:focus {
    color: initial;
}

.card-faq {
    min-width: 100%!important;
    margin: 0;
    border: none;
    box-shadow: none;
    text-align: left;
}

.card-faq:hover {
    box-shadow: none;
}    