.header-sup {
    height: 8vh;
    width: 100%;
    background-color: #017FCB;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar {
    background-color: #676767;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-evenly!important;
  }

  .desplegable:hover {
    transition: all 1s;
    color: #09f!important;
  }

  .dropdown-menu.show {
    background-color: #09f;
    
  }

  .dropdown-item {
    color: white!important;
  }

  .dropdown-item:hover {
    color: black!important;
  }

  
.navbar a {
    float: left;
    font-size: 16px;
    color: white!important;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none!important;
}
    
.navbar a:hover {
    background-color: #017FCB;
    transition: all 1s;
}

.container-logo {
  display: flex;
  width: 100%;
  justify-content: center;
  background-image: linear-gradient(rgba(250, 250, 250, 0.363), #017ecbcc);
  border-spacing: 0;
  border-collapse: separate;
}

.logo {
  width: 10vw;
  height: 10vw;
  background-size: cover;
  background-position: center;
}
      
  .sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    margin-left: 63%;
  }
  
  .openbtn:hover {
    background-color:#444;
  }

  .carrusel {
    background-position: center;
    height: 70vh;
    background-size: cover;
  }

  .div {
    width: 30%;
  }